html {
	font-family: sans-serif;
}

/* Aussehen Eingabefeld */
textarea#daten {
    width: 200px;
    height: 300px;
}

/* Aussehen Sortierte Buchstaben */
div#resultat, div#resultatGedreht {
    margin-top: 20px;
    border: 1px dashed lightgray;
    padding: 4px;
	overflow-wrap: break-word;
}

/* Aussehen Zeitanzeige */
div#laufzeit {
    margin-top: 20px;
}

/* Aussehen 'Berechnen' Knopf */
a#count {
    display: inline-block;
	margin-top: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #22d;
	border: 1px dotted black;
    padding: 2px;
}

/* Aussehen Resultatliste */
ul#resultate {
	position: absolute;
    width: 560px;
    margin-top: 0;
    list-style: none;
    margin-left: 200px;
}
ul li {
	height: 20px;
}
li.resultat span.zahl {
    float: right;
}
li.resultat span.balken {
    display: inline-block;
    height: 16px;
    background-color: #0000ff40;
}
li span#schritte {
    font-weight: bold;
}